/* we want to be very careful when applying styles to elements globally like this as it can interfere with other styles down the line.
Better solution is to use "pure selectors" (i.e. classnames, ids, etc) to style different elements and reserve global styling for things like typography */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    height: 100px;
    text-align: center;
    line-height:120px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:black;
    
    padding: 14px 16px;
    text-decoration: none;
  }
  div{
    position: absolute;
    bottom: 10px;
    width: 50%;
  }