/* we want to be very careful when applying styles to elements globally like this as it can interfere with other styles down the line.
Better solution is to use "pure selectors" (i.e. classnames, ids, etc) to style different elements and reserve global styling for things like typography */
html,
body {
  margin: 0;
  padding: 0;
}

/* 
style not actually applied in html as there is no corresponding class used on any element.
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    height: 100px;
    text-align: center;
    line-height:120px;
  } */

/* header styles */
.header {
  display: flex;
  /* flex is a better option here. Grid is more useful for more complex page layouts.*/
  justify-content: space-between;
  z-index: 10;
  /* this z-index will make sure it is always displayed */
  background-color: #d9d9d9;
  opacity: 0.8;
}

.logo {
  background: white;
}

.nav {
  width: 50%;
  /* don't want it taking over the entire header */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

/* good first attempt at display: grid. Doesn't quite make sense with how our HTML needs to be structured but a great try otherwise! */
/* .grid-container {
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    background-color: white;
    opacity: 50%;
    align-items: center;
} */

/* removed background tag as it didn't make semantic sense in this case. */
/* background{
  position: absolute;
  left: 0px;
  width: 100px; 
  height: 100px;
  z-index: -1;
} */

/* make sure not to use global selectors in css unless you actually need to */
/* legend {
  position: absolute;
  bottom: 10px;
  width: 50%;
} */

/* hero section styles */
.hero-section {
  width: 100%;
  position: absolute;
  top: 0;
  /* these properties pin it to the top of the page */
  z-index: -1;
  /* this places it underneath the header */
}

.hero-section img {
  width: 100%;
  /* for images it is best to use a percentage width and not declare height so you can preserve the aspect ratio */
}
.hero-section legend {
  /* this allows us to place the legend on top of the image */
  position: relative;
  bottom: 2em;
}
